<div class="container">
  <div class="row chat-window col-xs-5 col-md-3" id="chat_window_1" style="margin-left:10px;">
      <div class="col-xs-12 col-md-12">
          <div class="panel panel-default">
              <div class="panel-heading top-bar">
                  <div class="col-md-8 col-xs-8">
                      <h3 class="panel-title"><span class="glyphicon glyphicon-comment"></span> Chat - Mobilsoft Bot</h3>
                  </div>
                  <div class="col-md-4 col-xs-4" style="text-align: right;">
                      <a href="#"><span id="minim_chat_window" class="glyphicon glyphicon-minus icon_minim"></span></a>
                      <a href="#"><span class="glyphicon glyphicon-remove icon_close" data-id="chat_window_1"></span></a>
                  </div>
              </div>
              <div class="panel-body msg_container_base">
                  <ng-container *ngFor="let message of messages | async">
                      <div class="row msg_container" [ngClass]="{ 'base_receive': message.sentBy === 'bot',
                      'base_sent':   message.sentBy === 'user' }">
                          <div class="col-md-10 col-xs-10">
                              <div class="messages msg_sent">
                                  <p>{{ message.content }}</p>
                              </div>
                          </div>
                      </div>

                   
                    </ng-container>
              </div>
              <div class="panel-footer">
                  <div class="input-group">
                      <input id="btn-input" type="text" class="form-control input-sm chat_input" [(ngModel)]="formValue" (keyup.enter)="sendMessage()" type="text" placeholder="Escribe un mensaje">
                      <span class="input-group-btn">
                      <button (click)="sendMessage()" class="btn btn-primary btn-sm" id="btn-chat">Enviar</button>
                      </span>
                  </div>
              </div>
      </div>
      </div>
  </div>
</div>